header {
  background-color: #9e9d9d;
  color: #000000;
  padding: 3px 5px;
  font-size: 20px;
}
.logo {
  width: 50px;
  margin-right: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  height: 20px;
  margin-left: 70px;
}

nav ul li {
  display: inline;
  
  margin: 10px;
  padding: 0 7px;
}

.navItem:hover {
  color: #ffd700;
  padding-bottom: 3px;
  border-bottom: 1px solid #ffd700;
  cursor: pointer;
}

.search {
  margin-left: 30px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  padding: 3px 10px;
  background: #f1f1f1;
}
.navItem {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

.signIn-btn {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  text-decoration: none;
}

.signIn-btn:hover {
  background: #3c5f77;
  color: white;
}
.container {
  display: flex;
}
