.main {
  height: 85vh;
}
.invitation-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.invitation-card {
  border: 1px solid;
  width: 50%;
  
  margin: 10px;
}
.card-list{
display: flex;
justify-content: space-around;
text-decoration: none;
color: black;
}

